<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [1]:
# Data Science Tools and Ecosystem

In [2]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

In [4]:
# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

SyntaxError: invalid syntax (1931724980.py, line 2)

In [5]:
# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

SyntaxError: invalid syntax (706602774.py, line 2)

In [6]:
# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

SyntaxError: invalid syntax (706602774.py, line 2)

In [7]:
# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

SyntaxError: invalid syntax (3728306581.py, line 3)

# Some of the popular languages that Data Scientists use are:
languages = ["Python", "R", "SQL", "Julia", "Scala"]

In [9]:
# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

SyntaxError: invalid syntax (908713349.py, line 2)

In [11]:
# Some of the commonly used libraries used by Data Scientists include:
libraries = ["1. NumPy", "2. Pandas 3.", "Matplotlib", "4. Scikit-learn", "5. TensorFlow"]

# Some of the commonly used libraries used by Data Scientists include:
libraries = ["NumPy", "Pandas", "Matplotlib", "Scikit-learn", "TensorFlow"]

# Data Science Tools
tools = ["Jupyter Notebook", "RStudio", "Apache Zeppelin"]

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

# Objectives:
- List popular languages for Data Science
- List Data Science Tools
- List commonly used libraries used by Data Scientists

In [ ]:
# Objectives:
- List popular languages for Data Science
- List Data Science Tools
- List commonly used libraries used by Data Scientists

## Author
Evgenia

In [ ]:
## Author
Evgenia